@model List<StudentListViewModel>


    <div class="card">
        <div class="card-header">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="AddStudent" class="btn btn-primary">
                    Add Student
                </a>
            }

        </div>
        <div class="card-body">
            <div >
                <table class="ui celled table nowrap" style="width:100%" id="usersTable">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td><a href="javascript:openPopup(@item.StudentId);"><i class="mdi mdi-warning"></i>Detail</a></td>
                                @if (User.IsInRole("Admin") || User.Identity.Name == item.UserName)
                                {
                                    <td><a href="/Student/UpdateStudent/@item.StudentId"><i class="mdi mdi-warning"></i> Update</a></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <td><a href="/Student/DeleteStudent/@item.StudentId" onclick="return confirm('Are you sure Delete?');"><i class="mdi mdi-delete"></i> Delete</a></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>

<div class="modal fade" id="details-modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col mb-0">
                        <div class="row">
                            <label for="FirstNameTitle" class="form-label" style="font-weight:bold">FirstName</label>
                            <span id="FirstName"></span>
                        </div>
                    </div>
                    <div class="col mb-0">
                        <div class="row">
                            <label for="LastNameTitle" class="form-label" style="font-weight:bold">LastName</label>
                            <span id="LastName"></span>
                        </div>
                    </div>
                    <div class="col mb-0">
                        <div class="row">
                            <label for="BirthDateTitle" class="form-label" style="font-weight:bold">BirthDate</label>
                            <span id="BirthDate"></span>
                        </div>
                    </div>
                    <div class="col mb-0">
                        <div class="row">
                            <label for="PhoneNumberTitle" class="form-label" style="font-weight:bold">PhoneNumber</label>
                            <span id="PhoneNumber"></span>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <div class="row">
                            <label for="AddressTitle" class="form-label" style="font-weight:bold">Address</label>
                            <span id="Address"></span>
                        </div>
                    </div>
                    <div class="col mb-0">
                        <div class="row">
                            <label for="EMailTitle" class="form-label" style="font-weight:bold">EMail</label>
                            <span id="EMail"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                
            </div>
        </div>
    </div>
</div>
@section Scripts{
    
    <script src="~/js/StudentView.js" type="application/ecmascript"></script>
    
    <script>
    function openPopup(e) {
        var studentId = e;
        console.log(studentId);
        var studentList = @Html.Raw(Json.Serialize(Model));
        console.log(studentList);
        for (let student of studentList) {
            if (student.StudentId == studentId) {
                
                let spanTitle = document.getElementById("modalCenterTitle");
                spanTitle.innerText = student.FirstName + "'s Detail";
                
                let spanFirstName = document.getElementById("FirstName");
                spanFirstName.innerText = student.FirstName;
                
                let spanLastName = document.getElementById("LastName");
                spanLastName.innerText = student.LastName;

                let spanBirthDate = document.getElementById("BirthDate");
                spanBirthDate.innerText = student.BirthDate;

                let spanPhoneNumber = document.getElementById("PhoneNumber");
                spanPhoneNumber.innerText = student.PhoneNumber;

                let spanAddress = document.getElementById("Address");
                spanAddress.innerText = student.Address;

                let spanEMail = document.getElementById("EMail");
                spanEMail.innerText = student.EMail;
                
            }
        }
        $("#details-modal").modal('show');
    }
    function btnClose(e) {
        $("#details-modal").modal('hide');
    }
    </script>
}
